doctype html
html(lang='en')
    head
        title Warehouse manager
        link(rel='stylesheet', href='/static/main.css')
    body 
        div.container
            nav.nav
                a(href='/') Warehouse manager 
                a(href='/create') Create
                a(href='/archived') Archived products
            block number1 
